.promo__container{
    flex-direction: column;
    text-align: center;
    margin-block: 0;
    height: auto;
    padding-block: 2rem;
    padding-inline: 0rem;
    width: 100%;
}

.promo__container > h1 {
    font-size: 1.8rem;
}

.promo__container p {
    margin-block: .5rem;
}

.promo {
    margin-block: .5rem;
    overflow: hidden;
    position: relative;
}

.promo img {
    width: 100vw;
}

.promo button {
    position: absolute;
    left: 10px;
    top: 60px;
    background-color: var(--amarelo);
    padding-inline: .5rem;
    border-radius: 1rem;
    color: var(--cinza);
    text-transform: lowercase;
    font-weight: bold;
}

@media (min-width: 600px) {

.promo__container {
    height: 100vh;
}

.promo__img--container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.promo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    border-radius: .3rem;
    box-shadow: 0px 0px 10px #9e9e9e;
    transition: all .5s;
    cursor: pointer;
}

.promo button {
    left: 230px;
    top: 175px;
}

.promo img {
    width: 100%;
}
   
.promo:hover {
    transform: scale(1.1);
}


}
